@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;500;600;700&display=swap");

@layer base {
  body {
    font-family: "Sofia Sans Condensed", system-ui, sans-serif;
  }
}
